# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master
  paths:
    include:
      - src/backend

pool:
  name: Hosted VS2017

steps:
- task: DotNetCoreCLI@2
  displayName: 'dotnet restore'
  inputs:
    command: restore
    projects: src/backend/ToDoList.sln

- task: DotNetCoreCLI@2
  displayName: 'dotnet build'
  inputs:
    projects: src/backend/ToDoList.sln
    arguments: '--configuration Release'

- task: DotNetCoreCLI@2
  displayName: 'dotnet test'
  inputs:
    command: test
    projects: '**/*.UnitTests.csproj'
    arguments: '--configuration Release --collect "Code coverage"'

- task: DotNetCoreCLI@2
  displayName: 'dotnet publish'
  inputs:
    command: publish
    publishWebProjects: false
    projects: src/backend/ToDoList.WebApi/ToDoList.WebApi.csproj
    arguments: '--configuration Release'
